html,body{
    font-family: 'Poppins', sans-serif;
}
.backgroundRed{
    background-color: red;
    height: 330px;
    color: white;
}
.backgroundKutu{
    margin-top: 110px;
    /* width: 1195px;
    height: 558px; */
}

.fs-24{
    font-size: 24px;
}
.fs-14{
    font-size: 14px;
}
.title{
    padding-top: 25px;
}
.description{
    padding-top: 25px;
    display: block;
}